[Unit]
Description=Waydroid Container on instance %i

[Service]
UMask=0022
BusName=id.waydro.Container.%i
ExecStart=/usr/bin/waydroid -w -n '%i' container start

[Install]
WantedBy=multi-user.target
